:root {
  --verde: #009887;
  --font-size-base: 16px;
}

body{
    overflow-y: hidden;   
    overflow-x: hidden;
    scrollbar-width: hidden;
}

.LoginContainer{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: absolute;
}

.LogoContainer{
    position: absolute;
  width: 75%;
  left: -14%; 
  top: -25%;
  height: 150%;
  border-radius: 50%;
  background-color: #009887; 
  z-index: 3;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.patron1{
    width: 60vw;
    height: 15vh;
    z-index: 2;
    position: absolute;
    right: 0;
}
.patron2{
    width: 60vw;
    height: 15vh;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 1200px) {
  .LogoContainer{
     position: absolute;
  width: 75%;
  left: -14%; 
  top: -25%;
  height: 150%;
  border-radius: 50%;
  background-color: #009887; 
  z-index: 3;
  overflow: hidden;
  padding: 0;
  margin: 0;
  }
  
 
}
