<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="search-section">
      <app-search-bar></app-search-bar>
    </div>
    <div class="actions-section">
      <div class="archive-count">
        <span class="archive-label">Carpetas:</span>
        <span class="archive-number">{{ countFolders() }}</span>
      </div>
      <div class="archive-count">
        <span class="archive-label">Archivos:</span>
        <span class="archive-number">{{ countFiles() }}</span>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="section-header" (click)="toggleRecentFolders()">
      <i class="toggle-icon" [class.rotated]="!showRecentFolders">▼</i>
      <h3>Carpetas encontradas</h3>
    </div>
    
    <div class="folders-grid" *ngIf="showRecentFolders && foundFolders">
      <div 
        *ngFor="let folder of foundFolders" 
        class="folder-item"
        (click)="onFolderClick(folder); addRecentFolder(folder)"
      >
        <i class="folder-icon"><i class='bx bxs-folder'></i></i>
        <span class="folder-name">{{ folder.name }}</span>
      </div>
    </div>
    <h3 *ngIf="!foundFolders">No se encontraron carpetas</h3>
  </div>
  <div class="content-section">
    <div class="section-header" (click)="toggleRecentFiles()">
      <i class="toggle-icon" [class.rotated]="!showRecentFiles">▼</i>
      <h3>Archivos encontrados</h3>
    </div>
    
    <div class="files-table-container" *ngIf="showRecentFiles && foundFiles">
      <table class="files-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Última modificación</th>
            <th>Fecha de creación</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor="let file of foundFiles" 
            class="file-row"
            (click)="onFileClick(file); addRecentFile(file)">
            <td class="file-name">{{ file.nombre }}</td>
            <td class="file-modified">{{ "" }}</td>
            <td class="file-created">{{ file.fecha }}</td>
            <td class="file-type">
              <span class="type-badge" [class]="'type-' + extensionWhitoutPoints(file.extension).toLowerCase()">
                {{ extensionWhitoutPoints(file.extension) }}
              </span>
            </td>
            <td class="file-options">
              <div class="options-wraper">
                <button (click)="toggleOptions(file.id); $event.stopPropagation()" [class.activate]="openFileId === file.id" class="options-btn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                <app-file-options *ngIf="openFileId === file.id" [idUser]="getIDUser()" [idFile]="file.id" [filename]="file.nombre"></app-file-options>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 *ngIf="!foundFiles">No se encontraron archivos</h3>
      <div class="load-more-container">
        <button class="load-more-btn" (click)="loadMoreFiles()">
          <i class="load-more-icon">▼</i>
        </button>
      </div>
    </div>
  </div>

</div>