<div class="persons-container">
      <div class="convert-header">
    <div class="search-section">
      <div class="search-bar">
        <i class="search-icon"><i class='bx bx-search-alt-2'></i></i>
        <input 
          type="text" 
          placeholder="Buscar" 
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
          class="search-input">
        <button class="filter-button" type="button"></button>
      </div>
    </div>

    <div class="actions-section">
      <div class="archive-count">
        <span class="archive-label">Personas:</span>
        <span class="archive-number">{{ archiveCount }}</span>
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <button>Historial de acciones</button>
    <button>Agregar departamento</button>
    <button>Agregar jefe de departamento</button></div>
</div>