.successful-popup {
  border-radius: 10px;
  padding-bottom: 1em;
}

.successful-titulo {
  font-size: 1.8rem;
  margin-top: -30px;
  font-family: "Poppins", sans-serif;
}

.successful-contenido {
  font-family: "Poppins", sans-serif;
}