body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-image: url('assets/Fondo_Claro.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    scrollbar-width: none;
    overflow-x: hidden;
}
