<nav class="navbar" [class.expanded]="isExpanded" (mouseenter)="onMouseEnter()"(mouseleave)="onMouseLeave()">
  <div class="profile-section">
    <div class="profile-image" routerLink="/profile" [class.profile-active]="activeRoute === 'profile'">
    <img src="assets/user_icon.svg" alt="" class="usericon">
    </div>
  </div>

  <div class="menu-section">
    <div *ngFor="let item of menuItems" class="menu-item"[class.active]="activeRoute === item.id"(click)="navigateTo(item)">
     <div class="menu-icon">
        <i *ngIf="item.icon" [ngClass]="item.icon" class="icon-placeholder"></i>
       <!-- <div *ngIf="item.svg" [innerHTML]="getSanitizedSvg(item.id)" class="svg-placeholder"></div> -->
    </div>
      
      <span class="menu-label" [class.show]="isExpanded">
        {{ item.label }}
      </span>
    </div>
  </div>

  <div class="logo-section">
  <img [src]="isExpanded ? logoExpanded : logoCollapsed" alt="Logo" class="logo-image"
  />
</div>
</nav>